.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
melpa-stable
archive-contents
*.elc
ido.last
session.10e2a9b59e777c225a160969193153281000000018800084
backups/
elpa/
.mc-lists.el
